<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin"/>
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/kangozoo?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"
                        userId="root" password="ydh520614">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.example.yangheng.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="com.example.yangheng.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="ANNOTATEDMAPPER" targetPackage="com.example.yangheng.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成对应表及类名-->
        <!--<table tableName="asd" domainObjectName="asd" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
        <table tableName="course_class_ref" domainObjectName="CourseClassRef"></table>
        <table tableName="role_permission_ref" domainObjectName="RolePermissionRfe"></table>
        <table tableName="t_class" domainObjectName="TClass"></table>
        <table tableName="t_config" domainObjectName="TConfig"></table>
        <table tableName="t_course" domainObjectName="TCourse"></table>
        <table tableName="t_menu" domainObjectName="TMenu"></table>
        <table tableName="t_order" domainObjectName="TOrder"></table>
        <table tableName="t_permission" domainObjectName="TPermission"></table>
        <table tableName="t_role" domainObjectName="TRole"></table>
        <table tableName="t_user" domainObjectName="TUser"></table>
        <table tableName="user_class_ref" domainObjectName="UserClassRef"></table>
        <table tableName="user_relation_ref" domainObjectName="UserRelationRef"></table>
        <table tableName="user_role_ref" domainObjectName="UserRoleRef"></table>
    </context>
</generatorConfiguration>